Repository HICC-Bootcamp/2022-2NuGong-2NuGong, pull requests merged in 2022-07, with the labels that each got.

#4 chore: 백엔드 개발환경 구축
  README.md
  backend/.gitignore
  backend/inugong/__init__.py
  backend/inugong/asgi.py
  backend/inugong/settings.py
  backend/inugong/urls.py
  backend/inugong/wsgi.py
  backend/manage.py
  backend/requirements.txt
  backend/rest_api/__init__.py
  backend/rest_api/admin.py
  backend/rest_api/apps.py
  backend/rest_api/migrations/__init__.py
  backend/rest_api/models.py
  backend/rest_api/tests.py
  backend/rest_api/views.py
Labels: 🕋 backend

#5 docs: requirements.txt update
  backend/requirements.txt
Labels: 🕋 backend

#6 feat: Implement models.py
  backend/inugong/settings.py
  backend/rest_api/migrations/0001_initial.py
  backend/rest_api/models.py
Labels: 🕋 backend

#7 chore: Update requirements.txt
  backend/requirements.txt
Labels: 🕋 backend

#9 fix: Update custom user model
  backend/inugong/settings.py
  backend/rest_api/models.py
Labels: 🕋 backend

#10 Backend auth
  backend/inugong/settings.py
  backend/inugong/urls.py
  backend/rest_api/models.py
  backend/rest_api/serializer.py
  backend/rest_api/urls.py
  backend/rest_api/views.py
Labels: 🕋 backend

#13 refactor: Fix function based view to class based view
  backend/inugong/settings.py
  backend/rest_api/urls.py
  backend/rest_api/views.py
Labels: 🕋 backend

#14 feat: Upload crawling data to DB
  backend/datateam/classification.py
  backend/datateam/classificationFunc.py
  backend/datateam/crawling.py
  backend/datateam/json2SQL.py
  backend/datateam/recommendation.py
  datateam/classification.py
  test.json
Labels: 🌟 feature, 🕋 backend, 📈 de/ml

#19 feat: Implement NoticeSuggestionListAPI
  backend/inugong/settings.py
  backend/inugong/urls.py
  backend/rest_api/models.py
  backend/rest_api/serializer.py
  backend/rest_api/urls.py
  backend/rest_api/views.py
Labels: 🕋 backend

#20 feat: Make 1 second update detection module
  backend/datateam/autoExecution.py
  backend/datateam/crawling.py
  backend/datateam/json2SQL.py
  test copy.json
  test.json
Labels: 📈 de/ml

#22 fix: Fix disconnect DB
  backend/datateam/json2SQL.py
  test.json
Labels: 📈 de/ml

#26 feat: Implement NoticeBookmark API
  backend/inugong/settings.py
  backend/rest_api/migrations/0001_initial.py
  backend/rest_api/models.py
  backend/rest_api/serializer.py
  backend/rest_api/urls.py
  backend/rest_api/views.py
Labels: 🕋 backend

#27 feat: Implement API docs page
  backend/inugong/settings.py
  backend/inugong/urls.py
  backend/requirements.txt
Labels: 🕋 backend

#28 feat: Update urlfield and generic apiview
  backend/rest_api/models.py
  backend/rest_api/views.py
Labels: 🕋 backend

#29 fix: Fix crawling.py to upload json
  backend/datateam/autoExecution.py
  backend/datateam/crawling.py
  test.json
Labels: 📈 de/ml
